<div class="load"></div>

<main [style.backgroundImage]="backgroundImage" [style.color]="textColor">
  <div class="weather">
    <div class="heading">
      <h2>{{ heading | titlecase }}</h2>
      <div class="search-bar">
        <input type="text" placeholder="Search for Location." [(ngModel)]="searchCity" required autofocus>
        <img src="search.png" (click)="checkWeather()">
      </div>
    </div>

    <div class="weather-details" *ngIf="city_name">
      <div class="city-details">
        <h3>{{ city_name }}, {{ region }}, {{ country }}</h3>
        <h3>{{ time }}</h3>
      </div>

      <div class="temp-details">
        <div class="part1">
          <img src="{{ icon }}">
          <h2>{{ temp_c }} </h2><span>&deg;C</span>
        </div>
        <div class="part2">
          <h5>{{ sky }}</h5>
          <h5>{{ feelslike_c }} &deg;</h5>
        </div>
      </div>

      <div class="air-details">
        <h5><span>Wind</span> <span>{{ wind }}</span></h5>
        <h5><span>Pressure</span> <span>{{ pressure }}</span></h5>
        <h5><span>Humidity</span> <span>{{ humidity }}</span></h5>
        <h5><span>Dewpoint</span> <span>{{ dewpoint_c }} &deg;C</span></h5>
      </div>
    </div>
  </div>
</main>